# LA Dodgers Standings, 1958-present
> This notebook downloads the team's current standings table from [Baseball Reference](https://www.baseball-reference.com/teams/LAD/2024-schedule-scores.shtml) and combines it with historic records for later analysis and visualization.

---

#### Import Python tools and Jupyter config

In [1]:
import os
import numpy as np
import pandas as pd
import jupyter_black
from time import sleep
from tqdm.notebook import tqdm

In [2]:
jupyter_black.load()
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = None

In [3]:
profile_name = os.environ.get("AWS_PERSONAL_PROFILE")

In [4]:
today = pd.Timestamp("today").strftime("%Y-%m-%d")

---

## Fetch

#### Import historic game-by-game results, 1958-2023

In [5]:
historic_df = pd.read_parquet(
    "../data/standings/archive/dodgers_standings_1958_2023.parquet"
)

#### Define some variables we need for the request

In [17]:
year = 2024
url = f"https://www.baseball-reference.com/teams/LAD/{year}-schedule-scores.shtml"

#### Get the current year's table

In [18]:
src = (
    pd.read_html(url)[0]
    .query("Tm !='Tm' and Inn != 'Game Preview, and Matchups'")
    .drop(["Unnamed: 2", "Streak", "Orig. Scheduled"], axis=1)
    .rename(columns={"Unnamed: 4": "home_away"})
    .assign(season=year)
)

---

## Process

#### Clean columns

In [19]:
src.columns = src.columns.str.lower().str.replace("/", "_").str.replace("-", "-")

In [20]:
src.columns = [
    "gm",
    "date",
    "tm",
    "home_away",
    "opp",
    "result",
    "r",
    "ra",
    "inn",
    "record",
    "rank",
    "gb",
    "win",
    "loss",
    "save",
    "time",
    "day_night",
    "attendance",
    "cli",
    "year",
]

#### Convert date types where needed

In [21]:
src["gm"] = src["gm"].astype(int)
src["year"] = src["year"].astype(str)

In [25]:
src

,gm,date,tm,home_away,opp,result,r,ra,inn,record,rank,gb,win,loss,save,time,day_night,attendance,cli,year,weekday
0,1,Mar 20,LAD,@,SDP,W,5,2,NaN,1-0,1,up 0.5,Hudson,Brito,Phillips,3:05,N,15952,1.00,2024,Wednesday
1,2,Mar 21,LAD,NaN,SDP,L,11,15,NaN,1-1,1,Tied,King,Yamamoto,Suarez,3:42,N,15928,1.06,2024,Thursday
2,3,Mar 28,LAD,NaN,STL,W,7,1,NaN,2-1,1,Tied,Glasnow,Mikolas,Yarbrough,2:23,D,52667,.95,2024,Thursday
3,4,Mar 29,LAD,NaN,STL,W,6,3,NaN,3-1,1,Tied,Miller,Thompson,Phillips,2:23,N,47524,1.00,2024,Friday
4,5,Mar 30,LAD,NaN,STL,L,5,6,10,3-2,1,Tied,Helsley,Hurt,Gallegos,3:17,N,45019,1.01,2024,Saturday
5,6,Mar 31,LAD,NaN,STL,W,5,4,NaN,4-2,1,Tied,Crismatt,King,Hudson,2:41,D,41014,.98,2024,Sunday
7,7,Apr 1,LAD,NaN,SFG,W,8,3,NaN,5-2,1,up 1.0,Paxton,Winn,NaN,2:38,N,49044,1.08,2024,Monday
8,8,Apr 2,LAD,NaN,SFG,W,5,4,NaN,6-2,1,up 1.0,Yarbrough,Webb,Phillips,2:57,N,49365,1.18,2024,Tuesday
9,9,Apr 3,LAD,NaN,SFG,W,5,4,NaN,7-2,1,up 2.0,Glasnow,Harrison,Lamet,2:25,N,52746,1.16,2024,Wednesday
10,10,Apr 5,LAD,@,CHC,L,7,9,NaN,7-3,1,up 2.0,Smyly,Miller,Alzolay,2:57,D,34981,1.14,2024,Friday
11,11,Apr 6,LAD,@,CHC,W,4,1,NaN,8-3,1,up 3.0,Yamamoto,Wicks,NaN,2:45,D,41040,1.13,2024,Saturday
12,12,Apr 7,LAD,@,CHC,L,1,8,NaN,8-4,1,up 3.0,Almonte,Stone,Palencia,2:32,D,38322,1.16,2024,Sunday
13,13,Apr 8,LAD,@,MIN,W,4,2,NaN,9-4,1,up 3.0,Paxton,Jackson,Phillips,2:15,N,15177,1.08,2024,Monday
14,14,Apr 9,LAD,@,MIN,W,6,3,NaN,10-4,1,up 4.0,Glasnow,Varland,NaN,2:23,N,17024,1.08,2024,Tuesday
15,15,Apr 10,LAD,@,MIN,L,2,3,NaN,10-5,1,up 3.0,Funderburk,Vesia,Okert,2:31,D,18640,1.12,2024,Wednesday
16,16,Apr 12,LAD,NaN,SDP,L,7,8,11,10-6,1,up 2.0,Suarez,Vesia,NaN,3:14,N,49606,1.26,2024,Friday
17,17,Apr 13,LAD,NaN,SDP,W,5,2,NaN,11-6,1,up 3.0,Stone,Cosgrove,Phillips,2:36,N,44582,1.24,2024,Saturday

#### Split, format date

In [23]:
src[["weekday", "date"]] = src["date"].str.split(", ", expand=True)

In [24]:
src["date"] = src["date"].str.replace(" (1)", "").str.replace(" (2)", "")

In [26]:
src["game_date"] = pd.to_datetime(src["date"] + ", " + src["year"], format="%b %d, %Y")

#### Clean home-away column

In [37]:
src.loc[src.home_away == "@", "home_away"] = "away"
src.loc[src.home_away.isna(), "home_away"] = "home"

#### Games back figures as a number

In [38]:
src["gb"] = (
    src["gb"].str.replace("up ", "up").str.replace("up", "+").str.replace("Tied", "0")
)

In [39]:
src["gb"] = (
    src["gb"]
    .apply(
        lambda x: float(x) if x.startswith("+") else -float(x) if float(x) != 0 else 0
    )
    .astype(float)
)

#### Just the columns we need

In [40]:
src_df = src[
    [
        "gm",
        "game_date",
        "home_away",
        "opp",
        "result",
        "r",
        "ra",
        "record",
        "rank",
        "gb",
        "time",
        "day_night",
        "attendance",
        "year",
    ]
].copy()

----

## Concatenate

#### Historic and current dataframes combined into one

In [41]:
df = pd.concat([src_df, historic_df]).sort_values("game_date", ascending=False)

In [42]:
df["r"] = df["r"].fillna(np.nan).astype(float)
df["ra"] = df["ra"].fillna(np.nan).astype(float)
df["attendance"] = df["attendance"].fillna(np.nan).astype(float)

In [43]:
df.head()

,gm,game_date,home_away,opp,result,r,ra,record,rank,gb,time,day_night,attendance,year,time_minutes
17,17,2024-04-13,home,SDP,W,5.0,2.0,11-6,1,3.0,2:36,N,44582.0,2024,NaN
16,16,2024-04-12,home,SDP,L,7.0,8.0,10-6,1,2.0,3:14,N,49606.0,2024,NaN
15,15,2024-04-10,away,MIN,L,2.0,3.0,10-5,1,3.0,2:31,D,18640.0,2024,NaN
14,14,2024-04-09,away,MIN,W,6.0,3.0,10-4,1,4.0,2:23,N,17024.0,2024,NaN
13,13,2024-04-08,away,MIN,W,4.0,2.0,9-4,1,3.0,2:15,N,15177.0,2024,NaN

In [44]:
df.tail()

,gm,game_date,home_away,opp,result,r,ra,record,rank,gb,time,day_night,attendance,year,time_minutes
4,5,1958-04-19,home,SFG,L,4.0,11.0,2-3,5,-2.5,2:37:00,D,41303.0,1958,157.0
3,4,1958-04-18,home,SFG,W,6.0,5.0,2-2,3,-1.5,3:00:00,D,78672.0,1958,180.0
2,3,1958-04-17,away,SFG,L,4.0,7.0,1-2,6,-1.5,2:50:00,D,12520.0,1958,170.0
1,2,1958-04-16,away,SFG,W,13.0,1.0,1-1,4,-0.5,3:03:00,N,22735.0,1958,183.0
0,1,1958-04-15,away,SFG,L,0.0,8.0,0-1,5,-1.0,2:29:00,D,23448.0,1958,149.0

---

## Exports

#### CSV format

In [45]:
# df.to_csv("data/processed/dodgers_standings_1958_present.csv", index=False)

#### JSON

In [46]:
# df.to_json(
#     "data/processed/dodgers_standings_1958_present.json", indent=4, orient="records"
# )

#### Parquet

In [47]:
# df.to_parquet("data/processed/dodgers_standings_1958_present.parquet", index=False)

#### S3

In [48]:
# !aws s3 cp data/processed/dodgers_standings_1958_present.json s3://stilesdata.com/dodgers/dodgers_standings_1958_present.json --profile {profile_name}